
.card-img-top{
 width: 200px;
 height: 200px;
 margin:2%;
}

.list-group-item{
  font-size: 12px;
}

.mainCharSelect{
  padding-left: 1%;
}

.notMain, .mainCharIsSelected{
  max-width: 100%;
  width: 100%;

}

.col-3{
  width: 100%;
  max-width: 100%;
}

#gameOutputSquare{
  margin: 1%;
  margin-top:2%;
  padding: 1%;
  outline: 5px;
  outline-style: double;
  outline-color: black;
}